* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



section{
    z-index: -1;
    
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #d2d2eb, #b795eb);
}

section .colour {
    position: absolute;
    filter: blur(150px);
}

section .colour:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #856bef;
}

section .colour:nth-child(2) {
    left: 200px;
    width: 500px;
    height: 500px;
    bottom: -150px;
    background: #f8e6cd;
}

section .colour:nth-child(3) {
    right: 100px;
    bottom: 50px;
    width: 300px;
    height: 300px;
    background: #614369;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(17, 4, 246, 0.1);
    animation-delay: calc(-1s * var(--i));
    animation: animate 10s linear infinite;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-60px);
    }

    50% {
        transform: translateY(0px);
    }
}

.box .square:nth-child(1) {
    top: -200px;
    left: -60px;
    width: 100px;
    height: 100px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}
.box .square:nth-child(1) img{
    
    top: -200px;
    left: -60px;
    width: 70px;
    height: 70px;
    display: block;

}

.box .square:nth-child(2) {
    z-index: 2;
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.box .square:nth-child(2) img{
    top: 150px;
    height: 100px;
}

.box .square:nth-child(3) {
    z-index: 2;
    width: 80px;
    height: 80px;
    left: 500px;
    bottom: -60px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.box .square:nth-child(3) img{
    width: 60px;
    height: 60px;
    
}



.box .square:nth-child(4) {
    left: 300px;
    width: 120px;
    height:120px;
    bottom: -300px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.box .square:nth-child(4) img{
    width: 100px;
    height: 100px;
    
}

.box .square:nth-child(5) {
    top: -100px;
    left: 30px;
    width: 60px;
    height: 60px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.box .square:nth-child(5) img{
    width: 40px;
    height: 40px;
    
}
.box .square:nth-child(6) {
    top: -200px;
    left: 500px;
    width: 60px;
    height: 60px;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.box .square:nth-child(6) img{
    width: 40px;
    height: 40px;
    
}

